@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Inria+Sans:wght@400;700&display=swap');

:root {
	--color-primary: #000;
	--color-secondary: #f5f5f5;
	--color-tertiary: #ff204e;

	--font-text: 'Inria Sans', sans-serif;
	--size-text: 1.5rem;
	--weight-text: 400;

	--font-title: 'Cantora One', sans-serif;
	--size-title: 2rem;
	--weight-title: 700;

	--transition-button: 0.5s;
	--align-text: center;
}

.body {
	width: 100vw;
	font-size: 16px;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	overflow-x: hidden;
	flex-direction: column;
}

.header {
	height: calc(10vh - 30px - 5%);
	padding: 2% 0% 0% 8.5%;
	width: 100%;
}

.header_menu {
	gap: 30px;
}

.header_menu_link {
	font-family: var(--font-title);
	font-weight: var(--weight-title);
	color: var(--color-tertiary);
	text-decoration: none;
	font-size: var(--size-text);
}

.header_menu_link::before {
	margin-left: auto;
}

.header_menu_link::after, .header_menu_link::before {
	content: '';
	width: 0%;
	height: 2px;
	background: var(--color-tertiary);
	display: block;
	transition: 0.9s;
}

.header_menu_link:hover::after, .header_menu_link:hover::before {
	width: 100%;
}

.content {
	width: calc(100% - 60px);
	height: calc(90vh - 30px);
	margin: 30px 0;
	justify-content: space-around;
	height: 100%;
}

.content_presetation {
	width: 42%;
	height: 100%;
	flex-direction: column;
}

.content_presetation_title {
	font-size: var(--size-title);
	font-family: var(--font-title);
	margin-top: 0;
}

.content_title_links {
	text-align: var(--align-text);
}

.container__content_presetation_links {
	gap: 20px;
}

.content_presetation_links {
	color: var(--color-secondary);
	width: 50%;
	border: 1px solid var(--color-tertiary);
	padding: 20px 0;
	text-align: var(--align-text);
	text-decoration: none;
	font-weight: var(--weight-title);
	justify-content: center;
	gap: 8px;

}

.content_presetation_links:hover {
	background-color: var(--color-tertiary);
	transition: var(--transition-button)
}

.content_presetation_image {
	height: 40%;
	width: 40%;
}

.footer {
	padding: 10px;
	background-color: var(--color-tertiary);
	text-align: var(--align-text);
	/* margin-top: 50px; */
}

.footer_text {
	font-family: var(--font-text);
	font-size: var(--size-text);
}

.body,
.header_menu,
.content,
.content_presetation,
.container__content_presetation_links,
.content_presetation_links {
	display: flex;
}


.container__content_presetation_links {
	align-items: center;
}

.container__content_presetation_links {
	justify-content: space-between;
}

.content_presetation_links i,
.content_presetation_title_highlight {
	color: var(--color-tertiary);
}

.content_presetation_text,
.content_presetation_links,
.content_presetation_title {
	font-style: normal;
}

.content_presetation_text,
.content_presetation_links {
	font-size: var(--size-text);
	font-family: var(--font-text);
}

.content_presetation_title,
.content_presetation_text {
	font-weight: var(--weight-text);
}

.content_presetation_links,
.content_presetation_image {
	border-radius: 15px;
}

.content_presetation_links:hover,
.content_presetation_links:hover i,
.footer_text {
	color: var(--color-primary);
	transition: var(--transition-button);
}
