@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Inria+Sans:wght@400;700&display=swap');

.body {
	justify-content: center;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	font-size: 16px;
	background-color: #000;
	color: #f5f5f5;
}

.content {
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

.content_presetation {
	width: 42%;
	height: 75%;
	flex-direction: column;
}

.content_presetation_title {
	font-size: 2rem;
	font-family: 'Cantora One', sans-serif;
}

.content_presetation_title_highlight {
	color: #ff204e;
}

.content_presetation_links {
	background-color: #ff204e;
	color: #000;
	width: 35%;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	font-weight: 700;

}

.content_presetation_image {
	height: 75%;
	width: 42%;
}

.body,
.content,
.content_presetation,
.container__content_presetation_links {
	display: flex;
}

.body,
.content {
	align-items: center;
}

.content_presetation,
.container__content_presetation_links {
	justify-content: space-between;
}

.content_presetation_text,
.content_presetation_links,
.content_presetation_title {
	font-style: normal;
}

.content_presetation_text,
.content_presetation_links {
	font-size: 1.5rem;
	font-family: 'Inria Sans', sans-serif;
}

.content_presetation_title,
.content_presetation_text {
	font-weight: 400;
}

.content_presetation_links,
.content_presetation_image {
	border-radius: 15px;
}
